{% macro render_table(table_name, relation, len) %}
 <p >
 <b>{{table_name}} </b>
 </p>
 {% set n = len(relation) %}
 <table>
 <tr>
 {% for name in relation.dtypes.index %}
 <th>{{name}}</th>
 {% endfor %}
 </tr>
 {% if n <= 10 %}
 <tbody>

 {% for i in range(n) %}
 <tr>
 {% for name in relation.dtypes.index %}
 <td> {{ relation.loc[i, name] }} </td>
 {% endfor %}
 </tr>
 {% endfor %}
 </tbody>
 {% elif n > 10 %}
 <tbody>

 {% for i in range(10) %}
 <tr>
 {% for name in relation.dtypes.index %}
 <td> {{ relation.loc[i, name] }} </td>
 {% endfor %}
 </tr>
 {% endfor %}
 </tbody>
 {% endif %}
 </table>
{% endmacro %}