<!DOCTYPE HTML>
<html>
	<head>
		<title> Приветствие </title>
	</head>

	<body>
		<form action="{{ url_for('hello') }}" method="get">

			<p>Имя: <input type = text name=username></p>

			<p>Пол:<br>
			<input type = radio name=gender value=w> Ж <br>
			<input type = radio name=gender value=m> M
			</p>

			<p>
			Образовательная программа:
			<select name=program>
			{% for i in range(len(program_list)) %}
			<option value={{i}}>{{program_list[i]}}</option>
			{% endfor %}
			</select>
			</p>

			<p>
			Выберите дисциплины, которые Вы изучаете:<br>
			{% for i in range(len(subject_list)) %}
			<input type = checkbox name=subject[] value={{i}}>
			{{subject_list[i]}}<br>
			{% endfor %}
			</p> 

			<p>
			Отметьте олимпиады и конкурсы, в которых вы учавствовали:<br>
			{% for i in range(len(olimp_list)) %}
			<input type = checkbox name=olimp[] value={{i}}>
			{{olimp_list[i]}}<br>
			{% endfor %}
			</p> 

			<p><input type=submit value=Отправить name="clicked"></p>
		</form>
{% if btn_is_clicked %} 
 {% if name == "" %}
 Введите имя, пожалуйста!
 {% else %}
 <p>
 Привет,
 {% if gender == "m" %}
 студент
 {% elif gender == "w" %}
 студентка
 {% endif %}
 {{name}}!
 </p>
 <p>
 Ваша образовательная программа: {{program}}.
 </p>
 <p>
 {% if len(subjects_select) == 0 %}
 Вы не изучаете никаких дисциплин
 {% else %}
 Вы изучаете дисциплины:
 {% for sub in range(len(subjects_select)) %}
 {% if sub == (len(subjects_select) - 1) %} 
 <a href={{ url_for('subject', sub=subjects_select[sub]) }}> {{subjects_select[sub]}}</a>.
 {% else %}
 <a href={{ url_for('subject', sub=subjects_select[sub]) }}> {{subjects_select[sub]}}</a>,
 {% endif %}
 {% endfor %}
 </p>
 <p>
 {% if len(olimp_select) == 0 %}
 Вы не учавствовали в олимпиадах
 {% else %}
 Ваши олимпиады:
 {% for ol in range(len(olimp_select)) %}
 {% if ol == (len(olimp_select) - 1) %}
 <a href={{ url_for('olimp', ol=olimp_select[ol]) }}> {{olimp_select[ol]}}</a>.
 {% else %}
 <a href={{ url_for('olimp', ol=olimp_select[ol]) }}> {{olimp_select[ol]}}</a>,
 {% endif %}
 {% endfor %}
 </p>
 {% endif %}
 {% endif %}
 {% endif %}
{% endif %}
</body> 
</html>