<html>
  <head>
    <title>Карточка читателя</title>
    <link rel="stylesheet" href="style.css" />
    {% macro render_table(table_name, relation) %}
    <div class="block">
      <p><b>{{table_name}}</b> {% set n = len(relation) %}</p>

      <table class="table">
        <tr>
          {% for name in relation.dtypes.index %}
          <th>{{name}}</th>
          {% endfor %}
        </tr>
        <tbody>
          {% for i in range(n) %}
          <tr>
            {% for name in relation.dtypes.index %} {% if name ==
            "Дата_возврата" and relation.loc[i, name] == None %}
            <td><input type="submit" value="Сдать" /></td>
            {% else %}
            <td>{{relation.loc[i, name]}}</td>
            {% endif %} {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endmacro %}
  </head>
  <body>
    <p></p>
    <form>
      Читатель:
      <select name="reader">
        {% set n = len(combo_box) %} {% for i in range(n) %} {% set id_r =
        combo_box.loc[i, "reader_id"] %} {% if id_r == reader_id %}
        <option selected value="{{id_r}}">{% else %}</option>

        <option value="{{id_r}}">
          {% endif %} {{ combo_box.loc[i, "reader_name"] }}
        </option>
        {% endfor %}
      </select>
      <input type="submit" value="Найти" />
    </form>
    {{render_table("Карточка", book_reader)}}
  </body>
</html>
