{% macro render_list(list) %} 
    {% set n = len(list) %} 
    <ul>
		{% for i in range(n) %} 
			{% if i == n - 1 %} 
				<li>{{user[ind][4][i]}}.</li>
			{% else %} 
				<li>{{user[ind][4][i]}},</li>
			{% endif %}              
		{% endfor %} 
	</ul>
{% endmacro %}

<html>
	<head>
		<title> Пример JINJA2 </title>
	</head>
<body>
	<p>
		Привет,
		{% if user[ind][1] == "ж" %}
		студентка
		{% else %}
		студент
		{% endif %}
		<span style="color: green">{{ add_spaces(user[ind][0]) }}</span>!
	</p>
	<p>
		Ваша образовательная программа <b>{{user[ind][2]}} {{user[ind][3]}}</b>.
		</p>
	<p>
		{% set n = len(user[ind][4]) %} 
		Вы изучаете {{n}} {{ discipline(n) }}:<br>
		{{ render_list(user[ind][4]) }} 
	</p>
</body>
</html>