 <html>
<head> 
    <title> Таблица и график функции </title> 
	<style>
		tr:nth-of-type(odd) {
			background-color:#ccc;
		}
		table, th, td {
			border: solid gray;
		}
		#tabl, #plot {
		display: inline-block
		}
	</style>

</head> 
<body> 
	<div id='frm'>
	<form> 
		<p>Функция: 
		<!-- создаем поле со списком для выбора: функция 1, функция 2, функция 3 --> 
		<select name=func>  
			{% set count_f = len(list_f)%}
			{% for i in range(count_f) %}
			<!-- если номер варианта совпадает со значением i, устанавливаем  
               атрибут selected     
               атрибут value для каждой строки будет совпадать с i  --> 
			{% if n_var == i %} 
              <option selected  value={{i}}> {{list_f[i]}} </option> 
            {% else %} 
               <option value={{i}}> {{list_f[i]}} </option> 
            {% endif %}                
         {% endfor %} 
		</select></p> 
 
		<p>Начало интервала: <input type=text name=beg_i value={{a}} size=1></p> 
		<p>Конец интервала: <input type=text name=end_i value={{b}} size=1></p> 
		<p>Количество значений: <input type=text name=count_p value={{n}} 
		size=1></p> 
		<p><input type=submit value="Построить"></p> 
    </form> 
	</div>
	
	<div id='main'>
    <p align = center> 
    <p> 
		{% if n_var == 0 %}
			<b>f(x) = x<sup>3</sup> - 6x<sup>2</sup> + x + 5 
		{% elif n_var == 1 %}
			<b>f(x) = x<sup>2</sup> - 5x + 1 
		{% else %}
			<b>f(x) = 1 / x<sup>2</sup> + 1 
		{% endif %}
    </p> 
	<div id='tabl'>
    <table> 
        <tr> 
            <th>x</th> 
            <th>f(x)</th>
            <th>y(x)</th>
            <th>z(x)</th>
        </tr> 
        <tbody> 
        {% for i in range(len(x)) %}        
           <tr> 
              <td>{{round(x[i], 3)}}</td> 
              <td>{{round(y[i], 3)}}</td>
              <td>{{round(z[i], 3)}}</td>
              <td>{{round(u[i], 3)}}</td>

           </tr> 
        {% endfor %} 
        </tbody> 
    </table> 
	</div>
	<div id='plot'>
		<img src='{{pict}}'>
	</div>
    </p>
	</div>
    
</body> 
</html>